# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.out
*.err
*.log.*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/
out/
coverage/
lib/

# TypeScript
*.tsbuildinfo

# Angular specific
.angular/
.angular-cache/

# React specific
*.cache/
*.turbo/
.next/
.next/*

# Temporary files
*.tmp
*.swp
*.bak

# Yarn
.pnp.*
.cache/

# Misc
*.pid
*.seed
